langchain
chromadb
pymupdf
langchain_openai
langchain_community
langchain_core
langchainhub
vectorview
pandas
langchain_experimental
tabulate
chardet
huggingface_hub 
pdfplumber
streamlit
ragas # metrics for rag evaluation
st_pages # for interface
requests
beautifulsoup4
urllib3
pdfkit
wkhtmltopdf 
pysqlite3-binary
faiss-cpu
abc